<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <!-- *.xml 과 같이 쓰는 것은 추천하지 않음 왜냐하면 줄이면 직관적이지가 않음 -->
  <context-param>
  	<param-name>contextConfigLocation</param-name>
  	<param-value>/WEB-INF/spring-service.xml
  	            ,/WEB-INF/spring-data.xml
  	            ,/WEB-INF/spring-*.xml 
  	</param-value>
  </context-param>
  <!-- /WEB-INF/spring-data.xml 여기에 다오, 오라클, mybatis설정 있음 -->
  	<context-param>
  		<param-name>log4jConfigLocation</param-name>
  		<param-value>/WEB-INF/classes/log4j.properties</param-value>
  	</context-param>  
  	<!-- 
  	메이븐 방식이 아닌 그레이들도 아닌 개발자가 원하는 대로 xml문서를 관리하려면
  	반드시 아래 listener 클래스를 등록해줌
  	SI - SM(운영팀 - 지방 - 기존시스템-레거시 - 칼퇴,버퍼링) - 솔루션 - 스타트업
  	필터추가 - 한글처리 필터, CORS이슈 
  	CORS(Cross Origin Resource Sharring) - 교차출처 금지 - 포트번호가 다른 것 끼리 서비스 불가 
  	리액트(:3000)와 스프링(:8000) 비빌때
  	 -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <servlet>
  	<servlet-name>spring4Web</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
<!-- 
 log4j, 보안모듈, 한글 처리, 트랜잭션 처리는 하나 프로젝트에서 공통된 관심사 이고 처음 서버가 기동할 때 
 읽어서 계속 유지하면 되는 것이다. 
 이 땐 context-param태그를
 서블릿 요청이 일어날때 마다 새로 초기화 해야 할 땐 init-param태그를 사용함.
 init-param(context-param)에 설정된 내용은 sp4로 요청이 들어올 때마다 spring-servlet.xml문서를 새로 읽어 들인다
 context-param 태그에 등록된 내용은 서버 기동시 한 번 읽어서 서버가 다운될 때까지 계속 기억해줌 
 공통된 관심사인 로그설정 시 사용함 
 init-param은 톰캣 서버 안 web.xml에 설정되어 있는 default 서블릿 대신 요청을 받아오게 해줌 
 -->	  
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-servlet.xml</param-value>
	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>spring4Web</servlet-name>
<!-- 
앞에 이름과는 상관없이 sp4로 요청을 하면 스프링에서 제공하는 DispatcherServlet인터셉트함.
자원관리를 개발자가 아닌 스프링컨테이너가 담당함.
가능한 XXX.jsp로 페이지를 부르는건 자제.
 -->  	
  	<url-pattern>*.sp4</url-pattern>
  </servlet-mapping>
</web-app>