<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>gudi_exam</display-name>
  <servlet>
  <servlet-name>BoardSelect</servlet-name>
  <servlet-class>com.example.demo.BoardSelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>BoardSelect</servlet-name>
  <url-pattern>/board/boardList</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>BoardInsert</servlet-name>
  <servlet-class>com.example.demo.BoardWriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>BoardInsert</servlet-name>
  <url-pattern>/board/boardInsert</url-pattern>
  </servlet-mapping>
 
</web-app>